.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Pitch-listGame {
  /* background: url(./assets/noucamp-game.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 47px);
  position: relative; */
  padding: 15px;
}

.Pitch-player {
  padding: 50px;
}

.Pitch-listGame-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}

.Pitch-findGame-body {
  display: grid;
  align-content: center;
  justify-content: center;
}

.Pitch-findGame-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.ui.header.player-profile-welcome {
  font-family: 'Kaushan Script', cursive;
  color: #FFF;
  font-size: 2rem
}

.player-profile {
  /* background: url('./assets/profile-bg-v1.jpg') no-repeat center; */
  /* background: url('./assets/pitch-bg.jpg') no-repeat center; */
  background-color: gray;;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 47px);
  position: relative;
  padding: 1rem;
  font-size: 1rem;
}

.player-profile-bio {
  float: left;
  width: 40%;
  padding-left: 5rem;
  /* padding-top: 2rem;
  padding-bottom: 2rem; */
  /* background-color:rgba(63, 122, 77, .7); */
}

.player-profile-bio-details {
  padding: 1rem;
  text-align: left;
}

.player-profile-bio-details-field {
  font-family: 'Reem Kufi', sans-serif;
  padding-bottom:0.6rem;
  font-size: 1.3rem;
}

.player-profile-bio-label-heading {
  color: #C8C8C8;
}

.player-profile-bio-label-value {
  color: #FFF;
}

.player-profile-edit {
  float: left;
  padding-left: 1rem;
}

.player-profile-are-you-available {
  font-family: 'Kaushan Script', cursive;
  color:#FFF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
